/* All Pages */
* {
    padding: 0;
    margin: 0;
}

/* KDDIWeb View More Button */
#viewmore_1 {
    background-color: #DA6555;
    color: white;
}

#viewmore_1:after {
    content: url(../img/icon/share.svg);
    width: auto;
    height: auto;
    /* position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-45%);
    right: -22px; */
}

/* Services View More Button */
#viewmore_2 {
    background-color: #0E0D6A;
    color: white;
}

#viewmore_2:after {
    content: url(../img/icon/share.svg);
    width: auto;
    height: auto;
    /* position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-45%);
    right: -22px; */
}

#KDDIWeb:before {
    content: "KDDIウェブコミュニケーションズ";
    color: #0E0D6A;
    font-weight: bold;
    font-size: 1.5em;
    }

.o_circle {
    border: 2px solid;
    border-color: #DA6555;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.o_circle_text {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    color: #DA6555;
}

#operation:before {
    content: "オペレーションエリア";
    color: #0E0D6A;
    font-weight: bold;
    font-size: 1.5em;
    }