/* All Pages */
/*------------------------------
 ▼共通デザイン（モバイル向け）
 -------------------------------*/

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.logo_on_header {
  width: 8em;
  margin: 1em;
}

.home_button {
  width: 5em;
  height: auto;
  position: absolute;
  bottom: 12em;
  right: 0em;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #0e0d6a;
  border-radius: 50%;
  animation: loading 0.75s 5 ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 1024px) {
  .logo_on_header {
    width: 12em;
    margin-top: 2em;
    margin-bottom: 2.5em;
    margin-left: 2em;
  }

  .home_button {
    width: 8em;
    height: auto;
    bottom: 10.5em;
    right: 1.25em;
    z-index: 10000;
  }
}

/* TOP */

/* Keyvisual Video */

.keyvisual {
  width: 100%;
  overflow: hidden;
}

video {
  height: 45em;
  position: relative;
  left: -45em;
}

#phrase01 {
  font-size: 0.85em;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  text-shadow: 0 3px 3px #898989;
  position: absolute;
  top: 15em;
  left: 2em;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#phrase02 {
  font-size: 0.4em;
  font-family: "Noto Sans JP", sans-serif;
  color: #ffffff;
  position: absolute;
  top: 37em;
  left: 12em;
  animation: fadeIn 9s;
  -webkit-animation: fadeIn 9s;
  -moz-animation: fadeIn 9s;
  -o-animation: fadeIn 9s;
  -ms-animation: fadeIn 9s;
}

#logo_on_kv {
  width: 8em;
  position: absolute;
  top: 17.5em;
  left: 8em;
}

/* Keyvisual Video END */

.mainvisual {
  position: relative;
}

#createyourself {
  display: none;
}

#createyourself_phone {
  margin-top: 3em;
  width: 100%;
}

.introduction {
  text-align: right;
  line-height: 2em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}

#introduction {
  font-size: 0.8em;
}

.contents01 {
  width: 100%;
  background-color: #ecf6fd;
  margin-bottom: 4em;
  padding-top: 1em;
  /* position: absolute; */
}

.contents01 > p {
  font-size: 0.5em;
}

#w_style {
  width: 60%;
  position: relative;
  top: -2em;
  margin-left: 1em;
}

.style_hover01 > span {
  font-size: 0.8em;
  margin-left: 4.5em;
  position: relative;
  top: -1.2em;
}

.style_svg {
  width: 50%;
  position: relative;
  left: 15%;
  top: 0.8em;
}

.style_button01 {
  width: 10%;
  display: inline-block;
}

.contents02 {
  width: 100%;
  background-color: #f9f7f7;
  margin-bottom: 4em;
  padding-bottom: 1em;
  text-align: right;
}

#w_space {
  width: 60%;
  margin: 1em 1em 2em 0;
}

.space_svg {
  width: 50%;
  position: relative;
  right: 20%;
  top: 0.8em;
}

.style_hover02 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.style_hover02 > span {
  font-size: 0.8em;
}

.style_button02 {
  width: 10%;
  display: inline-block;
}

.style_button02 > img {
  position: relative;
  left: 5em;
  padding-right: 2em;
}

.contents03 {
  width: 100%;
  background-color: #ecf6fd;
  margin-bottom: 4em;
  padding-top: 1em;
  text-align: left;
}

#top_quiz {
  width: 60%;
  margin: 0 0 1em 1em;
}

.quiz_svg {
  width: 50%;
  position: relative;
  left: 8%;
  top: 0.8em;
}

.quiz_svg > img {
  position: relative;
  left: 7em;
}

.style_hover03 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.style_hover03 > span {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.style_button03 {
  width: 10%;
  display: inline-block;
}

.style_button03 > img {
  position: relative;
  left: 5em;
  padding-right: 2em;
}

.moreabout {
  width: 100%;
  display: block;
}

.moreabout > p {
  text-align: center;
}

.middle_zone {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.5em auto 1em auto;
}

.middle_words {
  font-size: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* KDDIWeb View More Button */

.viewmore_button_1 {
  margin: 2em auto 3em auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#viewmore_1 {
  background-color: #da6555;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 1em;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

#viewmore_1:after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon/share.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 0.2em;
  margin-bottom: 0.28em;
}

/* KDDIWeb View More Button END*/

#middle01 {
  width: 60%;
  margin: 0 0 2em 1em;
}

#middle02 {
  width: 50%;
  position: relative;
  left: 11.5em;
}

#middle03 {
  width: 60%;
  margin: 0 0 2em 1em;
}

#middle04 {
  width: 60%;
  position: relative;
  left: 8.6em;
}

.services {
  margin: 5em 0;
  padding: 1em 0;
  background-color: #ecf6fd;
}

.services_svg {
  width: 70%;
  margin-bottom: 1em;
}

.services_box {
  text-align: center;
}

.cpi,
.jimdo,
.twilio,
.telchan {
  margin-bottom: 2em;
}

.cpi > img {
  width: 50%;
  margin-bottom: 0.5em;
}

.jimdo > img {
  width: 50%;
  margin-bottom: 0.5em;
}

.twilio > img {
  width: 50%;
  margin-bottom: 0.5em;
}

.telchan > img {
  width: 50%;
  margin-bottom: 0.5em;
}

/* Services View More Button */

.viewmore_button_2 {
  margin: 3em auto;
  text-align: center;
}

#viewmore_2 {
  background-color: #0e0d6a;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 1em;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

#viewmore_2:after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon/share.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 0.2em;
  margin-bottom: 0.28em;
}

/* Services View More Button END*/

.access {
  padding-bottom: 2em;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: bottom 200px left -30px;
}

.access_svg {
  width: 35%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.square_1 {
  background-color: #ecf6fd;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 2em auto;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.8em;
}

.square_1 > p {
  width: 100%;
}

.square_2 {
  background-color: #f9f7f7;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 2em auto;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.8em;
}

.square_2 > p {
  width: 100%;
  font-size: 0.9em;
}

.square_3 {
  background-color: #ecf6fd;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 2em auto;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.8em;
  margin-bottom: 18em;
}

.square_3 > p {
  width: 100%;
}

#back_to_top {
  height: 16em;
  position: absolute;
  bottom: 7.5em;
  right: 20em;
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 1024px) {
  /* Keyvisual Video */

  .keyvisual {
    display: grid;
    place-items: center;
  }

  video {
    height: auto;
    width: 100%;
    left: 0em;
    display: flex;
    justify-content: flex-end;
  }

  #phrase01 {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    top: 32%;
    left: 20%;
  }

  #phrase02 {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    top: 38%;
    left: 45%;
  }

  #logo_on_kv {
    width: 10em;
    top: 45%;
    left: 45%;
  }

  /* Keyvisual Video END */

  .mainvisual {
    width: 100%;
    text-align: left;
    margin-top: 8em;
  }

  #createyourself {
    display: block;
    margin-top: 2em;
    width: 100%;
  }

  #createyourself_phone {
    display: none;
  }

  .introduction {
    font-size: 1.5em;
    text-align: right;
    line-height: 2.5em;
    position: relative;
    left: -5em;
    top: -1em;
  }

  .contents01 {
    width: 80%;
    height: 25em;
    margin: 2em auto;
    margin-bottom: 10em;
  }

  #w_style {
    width: 40%;
    position: relative;
    left: 1em;
    top: 10%;
  }

  .style_svg {
    width: 45%;
    position: relative;
    top: -12em;
    left: 50%;
  }

  .style_hover01 {
    position: relative;
    top: -12em;
    text-align: right;
  }

  .style_hover01 > span {
    font-size: 1.2em;
    position: relative;
    top: -1em;
  }

  .style_button01 {
    width: 5%;
    margin-right: 1em;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  .style_button01:hover {
    width: 100px;
  }

  .contents02 {
    width: 100%;
    height: 18em;
    margin: 2em auto;
    margin-bottom: 10em;
  }

  #w_space {
    margin-right: 5em;
    width: 30%;
    position: relative;
    top: -4em;
  }

  .space_svg {
    width: 40%;
    position: relative;
    top: -16.5em;
    right: 50%;
  }

  .style_hover02 {
    position: relative;
    top: -16em;
  }

  .style_hover02 > span {
    font-size: 1.2em;
    position: relative;
    top: -0.5em;
    right: 10%;
  }

  .style_button02 {
    width: 4%;
    position: relative;
    top: -0.5em;
    right: 10%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  .style_button02:hover {
    width: 100px;
  }

  .contents03 {
    width: 90%;
    height: 25em;
    margin: 2em auto;
    margin-bottom: 20em;
  }

  #top_quiz {
    width: 35%;
    position: relative;
    left: 5em;
    top: 5em;
  }

  .quiz_svg {
    width: 45%;
    position: relative;
    top: -13em;
    left: 50%;
  }

  .style_hover03 {
    position: relative;
    top: -16em;
  }

  .style_hover03 > span {
    font-size: 1.2em;
    position: relative;
    top: 3em;
    left: 20%;
  }

  .style_button03 {
    width: 4.5%;
    position: relative;
    top: 3.3em;
    left: 20%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  .style_button03:hover {
    width: 100px;
  }

  .moreabout {
    width: 100%;
    margin-bottom: 20em;
  }

  #middle01 {
    width: 35%;
    position: relative;
  }

  #middle02 {
    width: 18%;
    position: relative;
    left: 45%;
    top: 3em;
  }

  .middle {
    margin: 4em 0;
  }

  .middle_zone {
    width: 60%;
  }

  .middle_words {
    font-size: 1.5em;
  }

  #viewmore_1 {
    font-size: 1.3em;
    padding: 20px 40px;
    border-radius: 5px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  #viewmore_1:hover {
    font-size: 1.5em;
    letter-spacing: 3px;
    border: 2px solid transparent;
    border-color: #da6555;
    background-color: #ffffff;
    color: #da6555;
  }

  #middle03 {
    width: 25%;
    position: relative;
    left: 5em;
  }

  #middle04 {
    width: 30%;
    position: relative;
    left: 40%;
    top: 8em;
  }

  .services {
    width: 100%;
  }

  .services_svg {
    width: 30%;
    margin-bottom: 4em;
  }

  .services_box {
    display: flex;
    align-content: center;
    justify-content: space-around;
  }

  .cpi,
  .jimdo,
  .twilio,
  .telchan {
    width: 60%;
    margin: 0;
  }

  .cpi > img {
    margin: 1.2em;
  }

  .jimdo > img {
    margin: 1.4em;
  }

  .twilio > img {
    margin: 1.8em;
  }

  .viewmore_button_2 {
    margin-top: 8em;
    margin-bottom: 4em;
  }

  #viewmore_2 {
    font-size: 1.3em;
    padding: 20px 40px;
    border-radius: 5px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  #viewmore_2:hover {
    font-size: 1.5em;
    letter-spacing: 3px;
    border: 2px solid transparent;
    border-color: #0e0d6a;
    background-color: #ffffff;
    color: #0e0d6a;
  }

  .access {
    width: 100%;
    height: 40em;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-size: 100%;
    background-position: bottom 100px left 50px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .access_svg {
    width: 15%;
    margin-top: 4em;
    margin-left: 1.5em;
  }

  .square_1 {
    width: 300px;
    height: 300px;
    margin: 2em auto;
    font-size: 1em;
    padding: 0.2em;
  }

  .square_2 {
    width: 300px;
    height: 300px;
    margin: 2em auto;
    font-size: 1.2em;
    padding: 0.2em;
  }

  .square_3 {
    width: 300px;
    height: 300px;
    margin: 2em auto;
    font-size: 1em;
    padding: 0.2em;
  }

  #back_to_top {
    height: 20em;
    position: absolute;
    bottom: 5.5em;
    left: 1em;
  }
}

/* TOP END*/

/* WORKSTYLE*/

.ws_header {
  width: 100%;
  margin: 0 auto;
}

.work_s {
  margin-top: 1.5em;
  margin-bottom: 2.55em;
  background-color: #f2f0f0;
  padding: 2em 0.5em;
  display: block;
}

#ws_title {
  width: 20em;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

#ws_words {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: right;
}

.ws_description {
  padding: 0.5em;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  margin-bottom: 2.55em;
}

#KDDIWeb:before {
  content: "KDDIウェブコミュニケーションズ";
  color: #0e0d6a;
  font-weight: bold;
  font-size: 1.2em;
}

.type_of_works {
  background-color: #f2f0f0;
  height: auto;
  padding: 1.5em;
  line-height: 2em;
  margin: 0 auto;
  width: 80%;
}

.type_of_works > h2 {
  font-size: 1.2em;
  color: #0e0d6a;
}

.type_of_works > p {
  font-size: 0.85em;
}

.search {
  font-size: 1.25em;
  font-weight: bold;
  margin: 4em 0 3em 1em;
}

.human > img {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.human > p {
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 1.55em;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.o_circle {
  position: relative;
  border: 2px solid;
  border-color: #da6555;
  border-radius: 50%;
  width: 7.5em;
  height: 7.5em;
  margin: 0 1.2em;
}

.o_circle_text {
  position: relative;
  bottom: -3.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #da6555;
}

.o_circle_text_1 {
  position: relative;
  bottom: -3.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #da6555;
}

.b_circle {
  position: relative;
  border: 2px solid;
  border-color: #0e0d6a;
  border-radius: 50%;
  width: 7.5em;
  height: 7.5em;
  margin: 0 1.2em;
}

.b_circle_text {
  position: relative;
  bottom: -3.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #0e0d6a;
}

.details {
  margin-bottom: 30em;
  margin-left: 2.5em;
  font-size: 0.25em;
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 1024px) {
  .ws_header {
    width: 100%;
  }

  .bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
    align-items: center;
    width: 100%;
  }

  .work.i {
    width: 50%;
  }

  .work_s {
    width: 50%;
    margin-left: 2em;
  }

  #ws_title {
    width: 80%;
  }

  #ws_words {
    font-size: 1.25em;
  }

  .ws_description {
    padding: 0;
    font-size: 1.2em;
    line-height: 2.25em;
    margin-bottom: 2em;
  }

  /* #KDDIWeb:before {
        font-size: 1.5em;
    } */

  .type_of_works {
    padding: 2em;
    line-height: 2em;
  }

  .type_of_works > h2 {
    font-size: 1.2em;
  }

  .type_of_works > p {
    font-size: 1.1em;
  }

  .search {
    font-size: 1.5em;
    margin-bottom: 6em;
    margin-left: 2.65em;
  }

  .humans {
    display: flex;
    justify-content: center;
    margin-bottom: 5.5em;
    align-items: center;
    height: 100%;
  }

  .human > img {
    width: 100%;
  }

  .human > p {
    font-size: 1.5em;
    margin-top: 1em;
    letter-spacing: 0.05em;
  }

  .circles {
    display: block;
    margin-left: 6em;
  }

  .o_circle {
    position: relative;
    border: 4px solid;
    border-color: #da6555;
    width: 12em;
    height: 12em;
    margin-bottom: 2em;
  }

  .o_circle_text {
    position: relative;
    bottom: -4.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
  }

  .o_circle_text_1 {
    position: relative;
    bottom: -3.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
  }

  .b_circle {
    position: relative;
    border: 4px solid;
    border-color: #0e0d6a;
    width: 12em;
    height: 12em;
    margin-bottom: 2em;
  }

  .b_circle_text {
    position: relative;
    bottom: -3.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }

  .details {
    font-size: 1.2em;
    margin: 6em 0 12.5em 5em;
  }
}

/* WORKSTYLE END*/

/* WORKSPACE */

.space01 {
  margin: 4em 0 8em 1.25em;
  position: relative;
}

#wp01 {
  width: 15em;
  height: auto;
}

#wp02 {
  width: 12em;
  height: auto;
  border-radius: 50%;
  position: absolute;
  left: 10em;
  top: 8em;
}

.operation_title {
  background-image: url(../img/line2.svg);
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: bottom 10px left -30px;
}

.operation_description {
  margin-top: 2em;
  margin-bottom: 7em;
  padding: 0 1.2em 0 0.8em;
}

.operation_description > p {
  text-align: right;
  line-height: 2em;
}

#operation {
  padding-left: 4.5em;
}

#operation:before {
  content: "オペレーションエリア";
  color: #0e0d6a;
  font-weight: bold;
  font-size: 1.5em;
}

.space02 {
  display: block;
  text-align: right;
}

#wp03 {
  width: 15em;
  margin-right: 1.25em;
}

.relax_description {
  margin-top: 2em;
  margin-bottom: 7em;
}

.relax_description > p {
  text-align: left;
  line-height: 2em;
  margin: 0 1em;
}

#relax {
  padding-right: 8em;
}

#relax:before {
  content: "リラックスエリア";
  color: #0e0d6a;
  font-weight: bold;
  font-size: 1.5em;
}

#wp04 {
  width: 15em;
  margin-left: 1.25em;
}

.wp05 {
  text-align: right;
  margin-right: 2em;
  margin-top: 1em;
}

#wp05 {
  width: 8.5em;
}

.flexible_description {
  margin-top: 2em;
  margin-bottom: 10em;
  padding: 0 1.2em 0 0.8em;
}

.flexible_description > p {
  text-align: right;
  line-height: 2em;
}

#flexible:before {
  content: "フレキシブルエリア";
  color: #0e0d6a;
  font-weight: bold;
  font-size: 1.5em;
}

.sidearea {
  background-color: #f9f7f7;
  padding-top: 2em;
  padding-bottom: 5em;
}

.sidearea_title > img {
  width: 50%;
  margin-left: 0.5em;
  margin-bottom: 1.5em;
}

.sidearea_logo {
  text-align: center;
}

#share_lounge_logo {
  width: 20em;
}

#flat_base_logo {
  width: 20em;
}

#flat_base,
#share_lounge {
  color: #000000;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 1024px) {
  .space {
    position: relative;
    margin-top: 15em;
  }

  .space01 {
    margin-bottom: 18em;
    margin-left: 8em;
    background-image: url(../img/workspace/areas/operationPC.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom 10em right 5px;
  }

  #wp01 {
    width: 40%;
    height: auto;
    position: relative;
    left: -0.8em;
  }

  #wp02 {
    width: 25%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 15em;
  }

  .operation_title {
    display: none;
  }

  .operation_description {
    margin-right: 2em;
  }

  .operation_description > p {
    line-height: 2.8em;
    position: relative;
    top: -29em;
    font-size: 1em;
  }

  .space02 {
    margin-bottom: 1em;
    background-image: url(../img/workspace/areas/relaxPC.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom 10em left 1em;
  }

  #wp03 {
    width: 40%;
    height: auto;
    margin-right: 5em;
  }

  .relax_description {
    margin-left: 2em;
  }

  .relax_description > p {
    font-size: 1em;
    line-height: 2.5em;
    position: relative;
    top: -13em;
    text-align: left;
  }

  .space03 {
    margin-left: 5em;
    margin-bottom: 25em;
    background-image: url(../img/workspace/areas/flexiblePC.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom 25em left 20em;
  }

  #wp04 {
    width: 40%;
    height: auto;
    position: relative;
    left: -0.8em;
  }

  #wp05 {
    width: 18%;
    height: auto;
    position: absolute;
    left: 30em;
    top: 20em;
  }

  .flexible_description {
    margin-bottom: 5em;
  }

  .flexible_description > p {
    position: relative;
    top: -15em;
    font-size: 1em;
    line-height: 3em;
    text-align: right;
  }

  .sidearea_title > img {
    width: 20%;
  }

  .area01 {
    display: flex;
    width: 30%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }

  .area02 {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .sidearea_logo {
    display: flex;
    gap: 80px;
    justify-content: center;
  }

  #flat_base_logo {
    width: auto;
    height: 78px;
  }

  #share_lounge_logo {
    width: auto;
    height: 78px;
  }

  #share_lounge,
  #flat_base {
    font-size: 1em;
    font-weight: bolder;
    transition: background-color 0.5s;
    color: #000000;
  }

  #flat_base:hover,
  #share_lounge:hover {
    color: #ffffff;
    background-color: #da6555;
  }
}

/* WORKSPACE END */

/* Quiz */

.quiz {
  margin: 0 auto;
  text-align: center;
}

.quiz > img {
  width: 100%;
}

.quiz_description {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 2.5em;
  font-size: 0.8em;
  font-weight: bolder;
}

#quiz_line1 {
  padding: 0 5.5em;
}

.container {
  height: 315px;
  background-color: #ecf6fd;
  margin: 0 1em 5em 1em;
  position: relative;
}

/* .start_btn {
    position: relative;
    top: 10em;
    left: 18em;
    transform: translate(-50%, -50%);
} */

.start_btn button {
  position: relative;
  top: 8.5em;
  left: 11.2em;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-weight: bold;
  color: #0e0d6a;
  border: 2px solid #0e0d6a;
  padding: 5px 20px;
  background: #fff;
}

.quiz_box.activeQuiz {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  /* width: 300px; */
  width: 90%;
  margin: 0 auto;
}

.big_box {
  position: relative;
}

.quiz_box {
  position: absolute;
  top: 8em;
  left: 14.5em;
  /* width: 550px; */
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

section {
  /* padding: 25px 30px 20px 30px; */
  background: #ecf6fd;
  width: 200px;
}

.que_text {
  font-size: 0.8em;
  font-weight: bolder;
  text-align: center;
  position: relative;
  left: -4em;
}

.option_list {
  width: 180px;
  padding: 10px;
  display: block;
  background-color: #ecf6fd;
}

.option_list .option {
  background: #ffffff;
  border: 2px solid #0e0d6a;
  color: #0e0d6a;
  width: 180px;
  padding: 8px 10px;
  font-size: 0.5em;
  font-weight: bolder;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_list .option:last-child {
  margin-bottom: 0px;
}

.option_list .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.option_list .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.option_list .option.disabled {
  pointer-events: none;
}

.option_list .option .icon {
  height: 20px;
  width: 20px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

.option_list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.option_list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

.footer {
  height: 60px;
  padding: 0 0.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #ECF6FD; */
  position: relative;
  left: -3em;
}

.footer .total_que span {
  font-size: 0.8em;
  display: flex;
  user-select: none;
}

.footer .total_que span p {
  font-size: 0.8em;
  font-weight: bolder;
  color: #0e0d6a;
  padding: 0 5px;
}

.footer .total_que span p:first-child {
  padding-left: 0px;
}

.footer button {
  height: 40px;
  padding: 0 13px;
  font-size: 0.5em;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background: #0e0d6a;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box {
  background: #ecf6fd;
  position: relative;
  top: 8em;
  left: 11.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
}

.score_text {
  text-align: center;
}

.score_text > img {
  width: 40%;
  margin-top: 1em;
}

.result_box .score_text span {
  display: flex;
  margin: 5px 0;
  font-size: 0.5em;
  font-weight: bolder;
  text-align: center;
}

.result_box .score_text span p {
  font-weight: bolder;
  margin: 0 auto;
}

.recruit {
  margin: 1em;
  color: #fff;
  background: #da6555;
  border: 2px solid #da6555;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
}

.recruit:after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon/share.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 0.2em;
  margin-bottom: 0.28em;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 0.8em;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  outline: none;
  border: 2px solid #0e0d6a;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #0e0d6a;
  border: 2px solid #0e0d6a;
}

.buttons button.quit {
  color: #0e0d6a;
  background: #fff;
}

.quiz_createyourself {
  margin-bottom: 3em;
  width: 100%;
}

.quiz_createyourself > img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .quiz > img {
    width: 60%;
  }

  .quiz_description {
    font-size: 1em;
    line-height: 2em;
    font-weight: bolder;
    margin-bottom: 1.5em;
  }

  .container {
    width: 50em;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 8em;
  }

  .big_box {
    position: relative;
    top: 20em;
  }

  .quiz_box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
  }

  .result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .start_btn button {
    font-size: 1.25em;
    padding: 10px 40px;
    position: absolute;
    top: 15em;
    left: 20em;
    outline: none;
    cursor: pointer;
  }

  .quiz_box.activeQuiz,
  .result_box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    width: 600px;
  }

  .quiz_box {
    width: 580px;
    background: #ecf6fd;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .que_text {
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    left: 1em;
  }

  .option_list {
    padding: 20px 0px;
    display: block;
    margin: 0 auto;
  }

  .option_list .option {
    background: #ffffff;
    border: 2px solid #0e0d6a;
    color: #0e0d6a;
    padding: 8px 15px;
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .option_list .option:last-child {
    margin-bottom: 0px;
  }

  .option_list .option:hover {
    color: #ffffff;
    background: #0e0d6a;
  }

  .option_list .option.disabled {
    pointer-events: none;
  }

  .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
  }

  .footer {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 1em;
    position: relative;
    left: 7em;
  }

  .footer .total_que span {
    font-size: 1em;
    display: flex;
    user-select: none;
    margin-left: 1.3em;
  }

  .footer .total_que span p {
    font-size: 1em;
    font-weight: bolder;
    color: #0e0d6a;
  }

  .footer .total_que span p:first-child {
    padding-left: 0px;
  }

  .footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    background: #0e0d6a;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
  }

  .footer button:hover {
    background: #ffffff;
    color: #0e0d6a;
    border: 2px solid #0e0d6a;
  }

  .footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

  .result_box {
    background: #ecf6fd;
    display: flex;
    padding: 25px 30px;
    width: 600px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .result_box .score_text span {
    display: flex;
    margin: 0.8em auto;
    font-size: 1.2em;
    font-weight: bolder;
    justify-content: center;
  }

  .result_box .score_text span p {
    font-weight: bolder;
    text-align: center;
  }

  .score_text {
    margin: 0 auto;
    text-align: center;
  }

  .score_text > img {
    width: 70%;
  }

  .recruit {
    margin: 1em;
    color: #fff;
    background: #da6555;
    border: 2px solid #da6555;
    border-radius: 5px;
    padding: 5px 35px;
    font-size: 1.2em;
  }

  .recruit:after {
    content: "";
    display: inline-block;
    background-image: url(../img/icon/share.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-left: 0.2em;
    margin-bottom: 0.28em;
  }

  .result_box .buttons {
    display: flex;
    margin-top: 2em;
  }

  .result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    outline: none;
    border: 2px solid #0e0d6a;
    transition: all 0.3s ease;
  }

  .buttons button.restart:hover {
    background: #ffffff;
    color: #0e0d6a;
  }

  .buttons button.quit:hover {
    color: #ffffff;
    background: #0e0d6a;
  }

  .quiz_createyourself {
    width: 100%;
    text-align: left;
    margin-bottom: 6em;
  }

  .quiz_createyourself > img {
    width: 100%;
  }
}

/* Quiz END*/

/* footer */

footer {
  position: relative;
  background-color: #da6555;
  color: #ffffff;
  text-align: center;
  width: auto;
  height: 15em;
}

#logo_footer {
  margin-top: 4em;
  margin-bottom: 1em;
  width: 10em;
}

small {
  font-family: Helvetica Neue;
  font-size: 0.625em;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  word-break: break-all;
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 1024px) {
  #logo_footer {
    width: 12em;
  }

  small {
    font-size: 1em;
    text-align: center;
  }
}

/* footer END*/
